{# Callout component following Enabel Bootstrap Theme pattern #}
{% if cva is defined %}
    {% set typeCva = cva({
        base: 'callout',
        variants: {
            type: {
                primary: ' callout-primary',
                secondary: ' callout-secondary',
                success: ' callout-success',
                danger: ' callout-danger',
                warning: ' callout-warning',
                info: ' callout-info',
                light: ' callout-light',
                dark: ' callout-dark',
            },
            size: {
                sm: ' callout-sm',
            }
        }
    }) %}
    {% set calloutClass = typeCva.apply({type, size}, attributes.render('class')) %}
{% else %}
    {% set calloutClasses = ['callout', 'callout-' ~ type] %}
    {% if size %}
        {% set calloutClasses = calloutClasses|merge(['callout-' ~ size]) %}
    {% endif %}
    {% set calloutClass = calloutClasses|join(' ') ~ (attributes.render('class') ? ' ' ~ attributes.render('class') : '') %}
{% endif %}

<div class="{{ calloutClass }}" {{ attributes.defaults({}) }}>
    {% if title or icon %}
        {% if title %}
            <h5>
                {% if icon %}
                    {{ ux_icon(icon, {class: 'me-2', height: '1.2rem'}) }}
                {% endif %}
                {{ title }}
            </h5>
        {% elseif icon %}
            {{ ux_icon(icon, {class: 'mb-2', height: '1.2rem'}) }}
        {% endif %}
    {% endif %}
    {% block content %}
        {% if message %}
            <strong>{{ message|raw }}</strong>
        {% endif %}
    {% endblock %}
</div>