{# Callout component following Enabel Bootstrap Theme pattern #}
{% set calloutClasses = ['callout', 'callout-' ~ type] %}
{% if size %}
    {% set calloutClasses = calloutClasses|merge(['callout-' ~ size]) %}
{% endif %}

<div class="{{ calloutClasses|join(' ') }}{{ attributes.render('class') ? ' ' ~ attributes.render('class') : '' }}" {{ attributes.defaults({}) }}>
    {% if title or icon %}
        {% if title %}
            <h5>
                {% if icon %}
                    {{ ux_icon(icon, {class: 'me-2'}) }}
                {% endif %}
                {{ title }}
            </h5>
        {% elseif icon %}
            {{ ux_icon(icon, {class: 'mb-2'}) }}
        {% endif %}
    {% endif %}
    {% block content %}
        {% if message %}
            <strong>{{ message|raw }}</strong>
        {% endif %}
    {% endblock %}
</div>